<div class="todo-header">
  <div>Name</div>
  <button mat-button (click)="sortTodos()" style="padding: 0">
    Priority @if ((getTodosSort$ | async )=== todoSort.Ascending) {
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="arrow_upward"
    ></mat-icon>
    } @else {
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="arrow_downward"
    ></mat-icon>
    }
  </button>
  <div class="text-center">Actions</div>
</div>
<mat-divider></mat-divider>
