.todo-header {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 1fr 100px 170px;
  align-items: center;
  font-weight: 500;
  div {
    display: flex;
    align-items: center;
    &:last-of-type {
      justify-content: center;
    }
    mat-icon {
      margin-left: 10px;
    }
  }
}
