<div class="container">
  <mat-tab-group (selectedTabChange)="tabChanged.emit($event.index)">
    <mat-tab label="All">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </mat-tab>
    <mat-tab label="In Progress">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </mat-tab>
    <mat-tab label="Completed">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #content>
  <app-todo-header></app-todo-header>
  @for (todo of todos; track todo.id) {
  <app-todo-item
    [todo]="todo"
    (todoStatusChanged)="todoStatusChanged.emit($event)"
    (todoUpdated)="todoUpdated.emit($event)"
    (todoRemoved)="todoRemoved.emit($event)"
  ></app-todo-item>
  } @empty { Empty list of todos }
</ng-template>
