<div class="container">
  <mat-tab-group (selectedTabChange)="tabChanged.emit($event.index)">
    <mat-tab label="All">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </mat-tab>
    <mat-tab label="In Progress">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </mat-tab>
    <mat-tab label="Completed">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #content>
  <app-todo-header></app-todo-header>
  <ng-container *ngFor="let todo of todos">
    <app-todo-item
      [todo]="todo"
      (todoStatusChanged)="todoStatusChanged.emit($event)"
      (todoUpdated)="todoUpdated.emit($event)"
      (todoRemoved)="todoRemoved.emit($event)"
    ></app-todo-item>
  </ng-container>
  <p class="todo-item" *ngIf="todos?.length === 0">No todos</p>
</ng-template>
