<h1 mat-dialog-title>Edit ToDo</h1>
<div mat-dialog-content>
  <form [formGroup]="todoForm">
    <mat-form-field>
      <mat-label>New ToDo name</mat-label>
      <input matInput formControlName="todoName" />
    </mat-form-field>
    <app-priority-select formControlName="todoPriority"></app-priority-select>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-button
    [disabled]="!todoForm.valid"
    [mat-dialog-close]="todoForm.value"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
