<div class="container">
  <form [formGroup]="todoForm">
    <div class="todo-list-form">
      <mat-form-field>
        <mat-label>Todo List Item</mat-label>
        <input
          matInput
          placeholder="E.g. Send Email"
          formControlName="todoName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Priority</mat-label>
        <select matNativeControl formControlName="todoPriority">
          <option
            *ngFor="let todoPriority of TodoPriorityValues"
            [value]="todoPriority"
          >
            {{ todoPriority }}
          </option>
        </select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="todoForm.invalid"
        (click)="addNewTodo()"
      >
        Add Todo
      </button>
    </div>
  </form>

  <mat-tab-group (selectedTabChange)="onTabChanged($event.index)">
    <mat-tab label="All">
      <app-todo-header></app-todo-header>
      <ng-container *ngFor="let todo of allTodos$ | async">
        <app-todo-item
          [todo]="todo"
          (todoStatusChanged)="todoStatusChanged($event)"
          (todoUpdated)="todoUpdated($event)"
          (todoRemoved)="todoRemoved($event)"
        ></app-todo-item>
      </ng-container>

      <p class="todo-item" *ngIf="(allTodos$ | async)?.length === 0">
        No todos
      </p>
    </mat-tab>
    <mat-tab label="In Progress">
      <app-todo-header></app-todo-header>
      <ng-container *ngFor="let todo of inProgressTodos$ | async">
        <app-todo-item
          [todo]="todo"
          (todoStatusChanged)="todoStatusChanged($event)"
          (todoUpdated)="todoUpdated($event)"
          (todoRemoved)="todoRemoved($event)"
        ></app-todo-item>
      </ng-container>
      <p class="todo-item" *ngIf="(inProgressTodos$ | async)?.length === 0">
        No todos in progress
      </p>
    </mat-tab>
    <mat-tab label="Completed">
      <app-todo-header></app-todo-header>
      <ng-container *ngFor="let todo of completedTodos$ | async">
        <app-todo-item
          [todo]="todo"
          (todoStatusChanged)="todoStatusChanged($event)"
          (todoUpdated)="todoUpdated($event)"
          (todoRemoved)="todoRemoved($event)"
        ></app-todo-item>
      </ng-container>
      <p class="todo-item" *ngIf="(completedTodos$ | async)?.length === 0">
        No completed todos
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
