@use "scss/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "scss/helpers";

html,
body {
  height: 100%;
  margin: 0;
  background-color: variables.$body-white;
  font-family: variables.$font-stack;
}

.container {
  max-width: variables.$container-max-width;
  margin: variables.$container-margin;
  padding: 20px;
}
