$body-white: #fafafa;
$primary-color: #353c4e;
$background-color: #f0f2f4;
$white-color: white;

$font-stack: "Roboto", Arial, sans-serif;

$container-max-width: 600px;
$container-margin: 0 auto;

$footer-margin-bottom: 10vh;
