$body-white: #fafafa;
$primary-color: #353c4e;
$background-color: #f0f2f4;
$white-color: white;

$font-stack: "Roboto", Arial, sans-serif;

$max-width: 600px;

$margin: 50px auto;
$margin-bottom: 50px;
$footer-margin-bottom: 10vh;
