<div class="container">
  <form [formGroup]="todoForm">
    <div class="todo-list-form">
      <mat-form-field>
        <mat-label>Todo List Item</mat-label>
        <input
          matInput
          placeholder="E.g. Send Email"
          formControlName="todoName"
        />
      </mat-form-field>
      <app-priority-select formControlName="todoPriority"></app-priority-select>
      <button
        mat-raised-button
        color="primary"
        [disabled]="todoForm.invalid"
        (click)="addNewTodo()"
      >
        Add Todo
      </button>
    </div>
  </form>
</div>
